body {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
}

#formulate--landlord-house-add-13 {
    background-color: #2d6a4f !important;
    border-color: #2d6a4f !important;
}

#formulate--landlord-profile-13 {
    background-color: #2d6a4f !important;
    border-color: #2d6a4f !important;
}

#formulate--landlord-profile-17 {
    background-color: #2d6a4f !important;
    border-color: #2d6a4f !important;
}

#formulate--landlord-profile-14 {
    background-color: #2d6a4f !important;
    border-color: #2d6a4f !important;
    margin-left: 10px !important;
}

#formulate--landlord-profile-1_label {
    text-align: center !important;
}

#formulate--landlord-house-add-11 {
    border-color: #2d6a4f !important;
    color: #2d6a4f !important;
}

#formulate--landlord-house-add-11:active {     
    background-color:#2d6a4f !important; 
    color: white !important; 
}

.formulate-file-add{
    border-color: #2d6a4f !important;
    color: #2d6a4f !important;
}

input[id^='formulate--landlord-house-add-']:hover + .formulate-input-upload-area-mask{
    border-color: #2d6a4f !important;
}

.formulate-input[data-classification=text] input:focus {
    border-color: #2d6a4f !important;
}

textarea[id^='formulate--landlord-house-add-']:focus{
    border-color: #2d6a4f !important;
}

.formulate-input[data-classification=file] .formulate-input-upload-area input:focus~.formulate-input-upload-area-mask:before, .formulate-input[data-classification=file] .formulate-input-upload-area input:hover~.formulate-input-upload-area-mask:before, .formulate-input[data-classification=file] .formulate-input-upload-area input[data-is-drag-hover]~.formulate-input-upload-area-mask:before {
    background-color: #2d6a4f !important;
}
